:root {
  --clr-primary: #4D96A9;
  --clr-secondary: #855FB1; 
  --clr-primary-hover: #8FE3F9;
  --clr-secondary-hover: #D9B8FF;
  --clr-dark: #28283D; 
  --clr-light: #FAFAFA;
  --clr-gray: #87879D; 
  --clr-white: #FFFFFF;
  --fw-medium: 500;
  --fw-black: 900;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 119px;
    height: 28px;
    margin-top: 48px;
    margin-bottom: 54px;
}

.hero-left, .hero-right {
    display: none;
}

.hero-full {
    width: 414px;
    height: 153px;
    margin-bottom: 48px;
}

.title {
    font-weight: var(--fw-black);
    text-align: center;
    color: var(--clr-dark); 
}

.main-title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 24px;
    padding: 0px 24px;
}

.main p {
    font-weight: var(--fw-medium);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--clr-gray);
    margin-bottom: 32px; 
    padding: 0px 24px;
}

.btn {
    border: none;
    height: 58px;
    border-radius: 29px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-weight: var(--fw-black);
    color: var(--clr-white);
}

.btn-1 {
    background-color: var(--clr-primary);
    width: 193px;
    margin-bottom: 16px;
}

.btn-1:hover {
    cursor: pointer;
    background-color: var(--clr-primary-hover);
}

.btn-1:hover .version-number {
    color: var(--clr-primary);
}

.btn-1 .version-number {
    color: var(--clr-primary-hover);
}

.btn-2 {
    background-color: var(--clr-secondary);
    width: 139px;
    margin-bottom: 64px;
}

.btn-2:hover {
    cursor: pointer;
    background-color: var(--clr-secondary-hover);
}

.vertical-line {
    width: 1px;
    height: 84px;
    mix-blend-mode: normal;
    opacity: 0.25;
    border: 1px solid var(--clr-gray);
}

.round-number {
    width: 56px;
    height: 56px;
    background: var(--clr-light);
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-black);
    font-size: 16px;
    line-height: 26px;
    color: var(--clr-gray);
    margin-bottom: 64px;
}

.action-images {
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.action-images img {
    /*width: 151px;*/
    width: 46.1%;
    margin-bottom: 24px;
    border-radius: 8px;
}

.subtitle {
    font-weight: var(--fw-black);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--clr-primary);
    margin-bottom: 24px;
}

.secondary-title {
    font-size: 32px;
    line-height: 36px;
    padding: 0px 24px;
    margin-bottom: 32px;
}

.hypenated {
    white-space: nowrap;
}

main p:nth-of-type(2) {
    margin-bottom: 64px;
}

.footer {
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url('assets/mobile/image-footer.jpg');
    background-size: cover;
    padding: 0px 24px 0px 24px;
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-title {
    padding: 92px 24px 0px 24px;
    color: var(--clr-light);
    font-weight: var(--fw-black);
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 24px;
}

.footer p {
    font-weight: var(--fw-medium);
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--clr-light);
    margin-bottom: 32px;
}

.footer .btn-2 {
    width: 193px;
}

.footer .btn-2 .version-number {
    color: var(--clr-secondary-hover);
}

.footer .btn-2:hover .version-number {
    color: var(--clr-secondary);
}

.overlap {
    margin-bottom: -28px;
}

/* tablet layout */
@media (min-width: 768px) {
    .hero-full {
        width: 820px;
        height: 303px;
    }
    .action-images img {
        width: 164px;
        margin-left: 11px;
    } 
}

@media (min-width: 1440px) {
    .hero-full {
        display: none;
    }

    .hero-center {
        width: 540px;
        margin: 0px 88px;
    }

    .hero-center h1 {
        font-size: 64px;
        line-height: 64px;
        text-align: center;
    }

    .action-images img {
        width: 255px;
        height: 242px;
        margin-bottom: 80px;
    }

    .hero-left, .hero-right {
        display: block;
    }

    .hero {
        display: flex;
        justify-content: center;
        margin-bottom: 110px;
    }

    .logo {
        margin-top: 80px;
        margin-bottom: 61px;
    }

    .subtitle {
        margin-bottom: 16px;
    }

    .main-title {
        margin-bottom: 32px;
    }

    .main p {
        margin-bottom: 72px;
        width: 540px;
    }

    .secondary-title {
        line-height: 44px;
        font-size: 40px;
        width: 445px;
    }

    .footer {
        height: 308px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 116px 165px 104px 165px;
    }

    .footer-title {
        text-align: left;
        font-size: 40px;
        line-height: 44px;
        padding: 0;
        margin-bottom: 0;
        margin-right: 125px;
        width: 350px;
    }

    .footer p {
        width: 350px;
        font-size: 18px;
        line-height: 26px;
        margin-right: 92px;
        text-align: left;
    }
}
